* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  margin-bottom: 30px;
  padding-top: 20px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
}

.menu {
  display: flex;
  gap: 20px;
}

.title {
  margin-bottom: 20px;
}

.footer {
  margin-top: auto;
  padding-bottom: 20px;
}

img {
  width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project-info {
  margin-bottom: 30px;
}

.project-info-text {
  margin-bottom: 5px;
}

.project-info-year {
  margin-bottom: 20px;
}

dt {
  font-weight: 700;
  margin-bottom: 5px;
}

dd {
  margin-bottom: 10px;
}

dd:last-child {
  margin-bottom: 0;
}

.controls {
  margin-top: 30px;
}

.controls-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.filter {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.filter__item {
  display: flex;
  justify-content: center;
  min-width: 50px;
  background: #212529;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}
